@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --white: #F8F8F8;
  --dark: #0A0908;
  --blue: #0A3DC2;
}

/* My Service */

@media (max-width: 425px) {

  .LogoContainer {
    justify-content: center;
    display: flex;
    position: absolute;
    top: 14px !important;
    left: 30px !important;
    height: 20px !important;
  }

  .Header {
    height: 50px !important;
  }

  .titulo1 {
    justify-content: center;
    display: flex;
    position: absolute;
    left: 40px !important;
    top: 78px !important;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    width: 340px;
  }

  .titulo2 {
    justify-content: center;
    display: flex;
    position: absolute;
    left: 16px !important;
    top: 150px !important;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    width: 340px;
    height: 164px !important;
    text-align: center;
  }

  .IconContainer img {
    justify-content: center;
    display: flex;
    position: absolute;
    left: -1095px !important;
    top: 240px !important;
    height: 305px;
  }

}

.LogoContainer {
  justify-content: center;
  display: flex;
  position: absolute;
  top: 23px;
  left: 50px;
  height: 32px;
}

.Header {
  justify-content: center;
  background-color: var(--white);
  height: 80px;
  position:  start;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;
  box-shadow: 0px 5px 5px rgba(10, 9, 8, 0.1);
}

.titulo1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;

  color: var(--blue);

  position: absolute;
  left: 321px;
  top: 255px;
}

.titulo2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;

  color: var(--dark);

  position: absolute;
  width: 387px;
  height: 249px;
  left: 321px;
  top: 330px;
}

.IconContainer {
  position: absolute;
  left: 1155px;
  top: 10px;
}

@media (max-width: 425px) {

  .conheca {
    width: 190px !important;
    height: 76px !important;
    left: -285px !important;
    top: 275px !important;

    font-family: 'Roboto', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 24px !important;

    text-align: center !important;
    color: var(--white) !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute !important;
  }

  .sobre {
    width: 195px !important;
    height: 108px !important;
    left: -485px !important;
    top: 166px !important;

    font-family: 'Roboto', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 14px !important;

    text-align: center !important;
    color: var(--white) !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute !important;

  }

  .button {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 6.21951px 15.5488px !important;

    position: absolute !important;
    width: 87.1px !important;
    height: 25.44px !important;
    left: -445px !important;
    top: 294px !important;

    background: var(--white) !important;
    border-radius: 15.54808px !important;

    width: 115.46px !important;
    height: 33.59px !important;

    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 15px !important;

    color: var(--blue) !important;

    flex: none !important;
    order: 0 !important;
    flex-grow: 0 !important;
  }

  .fundo1 {
    width: 281px !important;
    height: 315px !important;
    display: flex !important;
    left: -86px !important;
    top: 80px !important;

    background: radial-gradient(96.44% 234.03% at 0% 3.56%, #3D68D9 0%, #0A3DC2 100%);
    border-radius: 29px;
  }
}


/* Conheça nos*/

.conheca {
  margin: 400px;

  position: absolute;
  width: 219px;
  height: 108px;
  left: 43px;
  top: 392px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 160%;

  color: var(--white);
}

.sobre {
  margin: 600px;

  position: absolute;
  width: 471px;
  height: 180px;
  left: 165px;
  top: 155px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 130.7%;

  color: var(--white);
}

.button {
  margin: 600px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8.29268px 20.7317px;

  position: absolute;
  width: 115.46px;
  height: 33.59px;
  left: 685px;
  top: 230px;

  border: none;
  background: var(--white);
  border-radius: 20px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: var(--blue);
}

.fundo1 {
  margin: 565px;
  margin-left: 154px;

  position: absolute;
  justify-content: center;
  width: 1120px;
  height: 323px;
  left: 210px;
  top: 125px;

  background: radial-gradient(96.44% 234.03% at 0% 3.56%, #3D68D9 0%, var(--blue) 100%);
  border-radius: 46px;
}

@media (max-width: 425px) {

  .MockupPerfil {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    left: 0.10px !important;
    top: 1005px !important;
    width: 410px !important;
    height: 330px !important;
  }

  .baixe {
    justify-content: center;
    display: flex;
    position: absolute;
    left: 81px !important;
    top: 1320px !important;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px !important;
  }

  .infbaixe {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    left: 28px !important;
    top: 1370px !important;

    font-style: normal;
    font-weight: 500;
    font-size: 22px !important;
    text-align: center;
    width: 370px !important;
    height: 108px !important;
  }

  .baixa {
    position: absolute !important;
    left: 105px !important;
    top: 1490px !important;
    width: 220px !important;

    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 20px !important;
  }

  .button1 {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 6.21951px 15.5488px !important;

    position: absolute !important;
    width: 90px !important;
    height: 25px !important;
    left: 155px !important;
    top: 1530px !important;

    background: var(--blue) !important;
    border-radius: 15.54808px !important;

    width: 120px !important;
    height: 35px !important;

    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 15px !important;

    color: var(--white) !important;

    flex: none !important;
    order: 0 !important;
    flex-grow: 0 !important;
  }
}

/* Baixe o nosso aplicativo */

.MockupPerfil {
  position: absolute;
  width: 624px;
  height: 552.93px;
  left: 285px;
  top: 1110px;
}

.baixe {
  position: absolute;
  left: 920px;
  top: 1275px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 45px;

  color: var(--blue);
}

.infbaixe {
  position: absolute;
  width: 500px;
  height: 12px;
  left: 920px;
  top: 1315px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;

  color: var(--dark);
}

.baixa {
  position: absolute;
  width: 267.25px;
  height: 32.95px;
  left: 920px;
  top: 1410px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: #9F9999;
}

.button1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8.29268px 20.7317px;

  position: absolute;
  width: 115.46px;
  height: 33.59px;
  left: 920px;
  top: 1430px;

  border: none;
  background: var(--blue);
  border-radius: 20px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  color: var(--white);
}

@media (max-width: 425px) {

  /* My Service Work */

  .MockupWork {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    left: 8px !important;
    top: 1570px !important;
    width: 395px !important;
    height: 330px !important;
  }

  .baixeWork {
    justify-content: center;
    display: flex;
    position: absolute;
    left: 50px !important;
    top: 1880px !important;
    width: 320px !important;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px !important;
  }

  .sobreWork {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    left: 52px !important;
    top: 1920px !important;

    font-style: normal;
    font-weight: 500;
    font-size: 20px !important;
    text-align: center;
    width: 316px !important;
    height: 90px !important;
  }

  .baixeW {
    position: absolute !important;
    left: 100px !important;
    top: 2008px !important;
    width: 220px !important;

    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 20px !important;
  }

  .buttonW {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 6.21951px 15.5488px !important;

    position: absolute !important;
    width: 90px !important;
    height: 25px !important;
    left: 155px !important;
    top: 2050px !important;

    background: var(--blue) !important;
    border-radius: 15.54808px !important;

    width: 120px !important;
    height: 35px !important;

    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 15px !important;

    color: var(--white) !important;

    flex: none !important;
    order: 0 !important;
    flex-grow: 0 !important;
  }
}

/* My Service Work */

.MockupWork {
  position: absolute;
  left: 215px;
  top: 1650px;
}

.baixeWork {
  position: absolute;
  width: 619px;
  height: 45px;
  left: 920px;
  top: 1850px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 45px;

  color: var(--blue);
}

.sobreWork {
  position: absolute;
  width: 500px;
  height: 12px;
  left: 920px;
  top: 1890px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;

  color: var(--dark);
}

.baixeW {
  position: absolute;
  width: 267.25px;
  height: 32.95px;
  left: 920px;
  top: 1960px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: #9F9999;
}

.buttonW {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8.29268px 20.7317px;

  position: absolute;
  width: 115.46px;
  height: 33.59px;
  left: 920px;
  top: 1980px;

  border: none;
  background: var(--blue);
  border-radius: 20px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  color: var(--white);
}

@media (max-width: 425px) {

  /* Premium */

  .MockupPremium {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    left: 35px !important;
    top: 2050px !important;
    width: 350px !important;
    height: 330px !important;
  }

  .acesse {
    justify-content: center;
    display: flex;
    position: absolute;
    left: 65px !important;
    top: 2355px !important;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px !important;
  }

  .sobrePremium {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    left: 52px !important;
    top: 2390px !important;
    height: 60px !important;

    font-style: normal;
    font-weight: 500;
    font-size: 20px !important;
    text-align: center;
    width: 316px !important;
    height: 82px !important;
  }

  .sobrePremium2 {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    left: 52px !important;
    top: 2470px !important;

    font-style: normal;
    font-weight: 500;
    font-size: 20px !important;
    text-align: center;
    width: 316px !important;
    height: 62px !important;
  }
}

/* Premium*/

.MockupPremium {
  position: absolute;
  width: 527.72px;
  height: 471.18px;
  left: 1092.14px;
  top: 2220px;
}

.acesse {
  position: absolute;
  left: 321px;
  top: 2390px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 45px;

  color: var(--blue);
}

.sobrePremium {
  position: absolute;
  width: 500px;
  height: 12px;
  left: 321px;
  top: 2425px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;

  color: var(--dark);
}

.sobrePremium2 {
  position: absolute;
  width: 500px;
  height: 12px;
  left: 321px;
  top: 2499px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;

  color: var(--dark);
}

@media (max-width: 425px) {

  /* Conheça Nos */

  .saiba {
    justify-content: center;
    display: flex;
    position: absolute;
    left: 75px !important;
    top: 2560px !important;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px !important;
  }

  .somos {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    left: 78px !important;
    top: 2620px !important;

    font-style: normal;
    font-weight: 500;
    font-size: 20px !important;
    text-align: center;
    width: 275px !important;
    height: 125px !important;
  }

  .somos2 {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    left: 78px !important;
    top: 2738px !important;

    font-style: normal;
    font-weight: 500;
    font-size: 20px !important;
    text-align: center;
    width: 275px !important;
    height: 80px !important;
  }
}

/* Conheça nos */

.saiba {
  position: absolute;
  left: 321px;
  top: 2900px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;

  color: var(--blue);
}

.somos {
  position: absolute;
  width: 600px;
  height: 310px;
  left: 321px;
  top: 2975px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;

  color: var(--dark);
}

.somos2 {
  position: absolute;
  width: 500px;
  height: 117px;
  left: 321px;
  top: 3080px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 130.7%;

  color: var(--dark);
}

@media (max-width: 425px) {

  /* O porq deste tema */

  .interrogacao {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    left: 25px !important;
    top: 2850px !important;
    height: 190px !important;
  }

  .porq {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    left: 27px !important;
    top: 3045px !important;
    width: 364px !important;
    height: 53px !important;

    font-size: 16px !important;
    text-align: center !important;
  }

  .escolhemos {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    left: 55px !important;
    top: 3105px !important;

    font-style: normal;
    font-weight: 500;
    font-size: 20px !important;
    text-align: center;
    width: 316px !important;
    height: 235px !important;
  }
}

/* O porq deste tema */

.interrogacao {
  position: absolute;
  width: 368px;
  height: 368px;
  left: 321px;
  top: 3390px;
}

.porq {
  position: absolute;
  width: 634px;
  height: 108px;
  left: 861px;
  top: 3450px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 160%;

  color: var(--blue);
}

.escolhemos {
  position: absolute;
  width: 646px;
  height: 222px;
  left: 861px;
  top: 3560px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 130.7%;

  color: var(--dark);
}

@media (max-width: 575.98px) {

  /* Rede sociais */

  .MockupRede {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    left: 0.4px !important;
    top: 3380px !important;
    width: 413px !important;
    height: 330px !important;
  }

  .saibamais {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    left: 34px !important;
    top: 3660px !important;
    width: 355px !important;
    height: 120px !important;
    line-height: 42px !important;

    font-size: 16px !important;
    text-align: center !important;
  }

  .siga {
    position: absolute !important;
    left: 165px !important;
    top: 3784px !important;
    width: 95px !important;

    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 26px !important;
  }

  .button2 {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 6.21951px 15.5488px !important;

    position: absolute !important;
    width: 87.1px !important;
    height: 25.44px !important;
    left: 155px !important;
    top: 3820px !important;

    background: var(--white) !important;
    border-radius: 15.54808px !important;

    width: 115.46px !important;
    height: 33.59px !important;

    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 15px !important;

    color: var(--blue) !important;

    flex: none !important;
    order: 0 !important;
    flex-grow: 0 !important;
  }

  .fundo2 {
    width: 100% !important;
    height: 400px !important;
    display: flex !important;
    left: 0px !important;
    top: 3490px !important;
  }
}

/* Rede sociais */

.SecundariaContainer {
  z-index: -999;
}

.MockupRede {
  position: absolute;
  width: 931.79px;
  height: 664.67px;
  left: 815px;
  top: 3880px;
}

.saibamais {
  position: absolute;
  width: 483px;
  height: 189px;
  left: 321px;
  top: 4200px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 160%;

  color: var(--white);
}

.siga {
  display: flex;
  position: absolute;
  width: 131px;
  height: 27px;
  left: 321px;
  top: 4415px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130.7%;

  color: #E4E3E3;
}

.button2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8.29268px 20.7317px;

  position: absolute;
  width: 116.46px;
  height: 33.59px;
  left: 315px;
  top: 4445px;

  border: none;
  background: var(--white);
  border-radius: 20px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: var(--blue);
}

.fundo2 {
  position: relative;
  width: 100%;
  height: 539px;
  left: 0px;
  top: 4040px;

  background: var(--blue);
  z-index: -99;
}


@media (max-width: 425px) {

  /*Video*/

  .ComoUsar {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    left: 30px !important;
    top: 3940px !important;
    width: 360px !important;
    height: 58px !important;

    font-size: 16px !important;
    text-align: center !important;
  }

  .VideoAbaixo {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    left: 75px !important;
    top: 4005px !important;

    font-style: normal;
    font-weight: 500;
    font-size: 24px !important;
    text-align: center;
    width: 270px !important;
    height: 93px !important;
  }

  .VideoContainer {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    left: 80px !important;
    top: 4125px !important;
    width: 260px !important;
    height: 169px !important;
  }

}

/*Video*/

.ComoUsar {
  position: absolute;
  width: 378px;
  height: 150px;
  left: 321px;
  top: 4890px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;

  color: var(--blue);
}

.VideoAbaixo {
  position: absolute;
  width: 356px;
  height: 83px;
  left: 321px;
  top: 5020px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20.9733px;

  color: var(--dark);
}

.VideoContainer {
  position: absolute;
  width: 800px;
  height: 542.29px;
  left: 915px;
  top: 4700px;

  background: linear-gradient(0deg, rgba(10, 61, 194, 0.44), rgba(10, 61, 194, 0.44));
  border-radius: 27.9353px;
}

.VideoContainer img {
  width: 100%;
  height: auto;
  z-index: -1;
}

.Thumbnail {
  float: left;
  position: relative;
}

.ThumbnailImg {
  width: 100%;
  height: 100%;

  /* background: url("../../assets/PlayIcon.png") no-repeat; */
  background-position: 50% 50%;
}


@media (max-width: 425px) {

  /* Footer*/

  .LogoBContainer {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    width: 100% !important;
    top: 4400px !important;
    left: 0px !important;
  }

  .Informacoes {
    position: absolute !important;
    width: 180px !important;
    height: 140px !important;
    left: 115px !important;
    top: 4480px !important;

    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 8px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;

    flex-direction: column !important;
  }

  .SigaNos {
    position: absolute !important;
    left: 185px !important;
    top: 4670px !important;

    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 8px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;

    flex-direction: column !important;
  }

  .Redes {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    width: 100% !important;
    top: 4690px !important;
    left: 0px !important;
  }

  .Service {
    justify-content: center !important;
    display: flex !important;
    height: 32px !important;
    position: absolute !important;
    left: 204px !important;
    top: 4784px !important;
  }

  .Contatos {
    top: -7px !important;
    left: 35px !important;
    justify-content: center !important;
  }


  .EmailIcon {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    left: 105px !important;
    top: 4865px !important;
    height: 25px !important;
  }

  .Email {
    position: absolute !important;
    left: 135px !important;
    top: 4875px !important;

    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 8px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;

    flex-direction: column !important;
  }

  .WhatsIcon {
    justify-content: center !important;
    display: flex !important;
    position: absolute !important;
    left: 104px !important;
    top: 4905px !important;
    height: 25px !important;
  }

  .Whats {
    position: absolute !important;
    left: 135px !important;
    top: 4912px !important;

    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 8px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;

    flex-direction: column !important;
  }

  .Direitos {
    position: absolute !important;
    left: 120px !important;
    top: 4986px !important;
    height: 20px !important;

    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 18px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
  }

  .FundoFoooter {
    width: 100% !important;
    height: 480px !important;
    display: flex !important;
    left: 0px !important;
    top: 3935px !important;
  }

  .Rodape {
    width: 100% !important;
    height: 260px !important;
    display: flex !important;
    left: 0px !important;
    top: 4755px !important;
    background: #072F94 !important;
  }
}

/* Footer*/

.FooterContainer {
  z-index: -999;
}

.LogoBContainer {
  justify-content: center;
  display: flex;
  position: absolute;
  width: 50%;
  height: 32.48px;
  left: 460px;
  top: 5440px;
}

.Informacoes {
  position: absolute;
  width: 740.37px;
  left: 590px;
  top: 5535px;
  display: flex;
  justify-content: space-between;
  padding: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  display: flex;

  color: var(--white);
}

.SigaNos {
  position: absolute;
  left: 899px;
  top: 5610px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  display: flex;

  color: #F8F8F8;
}

.Redes {
  position: absolute;
  height: 16.01px;
  left: 890px;
  top: 5635px;
  margin-right: 1em;
}

.Whatsapp span {
  margin-right: 1em;
}

.Instagram span {
  margin-right: 1em;
}

.Twitter span {
  margin-right: 1em;
}

.Service {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 450px;
  top: 5730px;
}

.Contatos {
  position: absolute;
  top: 0px;
  left: 55px;
  white-space: nowrap;
}

.EmailIcon {
  position: absolute;
  left: 720px;
  top: 5745px;
}

.Email {
  position: absolute;
  left: 760px;
  top: 5750px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  color: var(--white);
}

.WhatsIcon {
  position: absolute;
  left: 975px;
  top: 5745px;
}

.Whats {
  position: absolute;
  left: 1012px;
  top: 5750px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  color: var(--white);
}

.Direitos {
  position: absolute;
  width: 200px;
  height: 58px;
  left: 1625px;
  top: 5750px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;

  text-align: right;

  color: var(--white);
}

.FundoFoooter {
  position: relative;
  width: 100%;
  height: 360px;
  left: 0px;
  top: 4800px;

  background: var(--blue);
  z-index: -99;
}

.Rodape {
  position: absolute;
  width: 100%;
  height: 120px;
  left: 0px;
  top: 5697px;

  background: #072F94;
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: -99;
}